<configuration debug="true">

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern><![CDATA[
             %d | %contextName | %14.14thread | %5.5level | %-20(%logger{0}.%method\(\)) | %msg %n
           ]]></pattern>
    </encoder>
  </appender>


  <logger name="org.anized" level="DEBUG" />
  <logger name="org.springframework" level="INFO" />

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
